.resultDiv{
    padding: 50px;
}
.downloadBtn{
    width: 200px;
    margin: auto;
    background: rgb(6, 6, 95);
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 10px;
    display: block;
}

.hideBtn{
    display: none;
}